body{
	font-size: 12px;
	line-height: 20px;
	clolr:#333;
}

ul{
	list-style: none;
	margin:0;
	padding:0;
}

.warp{
	width:960px;
	margin:0px auto;
}

.content::after{
	content:"";
	display:block;
	clear:both;
}

.ct_left{
	margin-top:10px;
	width:180px;
	margin-right:10px;
}

.ct_center{
	width:540px;
	margin-right:10px;
}

.ct_right{
	width:220px;
	margin-top:10px;
}

.ct_left ,
.ct_center ,
.ct_right {
	float:left;
	/*border:1px solid #4f0;*/
}

.rec_class ,
.main_class {
	border:1px solid #999;
	margin-bottom:10px;
}

.rec_class {
	height:50px;
}


.footer_top
{
	width:100%;
	text-align:center;
}

.tre_ad{
	heigth:263px;
	margin-bottom:10px;
	/*border:1px solid #49f;*/
}

.new_book{
	height:288px;
	margin-bottom:10px;
	border:1px solid #999;
}

.point_book{
	height:405px;
	margin-bottom:10px;
	border:1px solid #999;
}

.express{
	height:520px;
	margin-bottom:10px;
	border:1px solid #999;
}

.sell_well{
	margin-bottom:10px;
	border:1px solid #999;
	padding-bottom: 5px;
}


/* 左边分类栏的具体实现  Begin: */
.rec_class span ,
.main_class>span{
	height:25px;
	background-color:#fff0d9;
	display:block;
	color:#882d00;
	font-size: 14px;
	font-weight: bold;
	line-height:25px;
	padding-left:10px;
}

.ct_left li{
	margin-left:10px;
	margin-right:10px;
}

.main_class li span{
	font-weight: bold;
	display:block;
}

.main_class li{
	border-bottom:1px solid #666;
	padding-top:10px;
}

.main_class li.big_rec
{
	border-bottom:0px;
}

.main_class img {
	margin-right:3px;
	margin-top:3px;
}

/* End */

/* center 轮换图片 Begin: */
.tre_top{
	width:540px;
	height:51px;
	background-image: url("../images/dd_scroll_top.gif");
	background-repeat:no-repeat;
}

.tre_mid{
	padding:0px 5px;
	border-width:0px 1px;
	border-color:#d6d5d6;
	border-style:solid;
	background-color: #f2f2f3;
	width:528px;
	position: relative;
}

.tre_end{
	background-image: url("../images/dd_scroll_end.gif");
	width:540px;
	height: 8px;
	background-repeat: no-repeat;
}

.tre_mid ul{
	position: absolute;
	top:8px;
	right:5px;
}

.tre_mid li{
	border:1px solid gray;
	width:12px;
	height:18px;
	line-height:18px;
	text-align:center;
	margin-bottom:5px;
	background-color:white;
}
/* End */

/* 离散型 修饰类 */
.font_red{
	color:red;
}

div.big_title{
	position: relative;
	padding:4px 5px 2px 10px;
	background-image: url("../images/dd_book_bg.jpg");
	background-repeat: repeat-x;
}

span.small_title{
	color:#882d00;
	font-size:14px;
	font-weight:bold;
}

dd{
	margin:0;
}
/* End */

/* 最新上架 Begin: */
div.new_tab li{
	float:left;
	width:40px;
	height:23px;
	margin-right:3px;
	background-image: url("../images/dd_book_bg1.jpg");
	text-align: center;
	line-height:33px;
}


div.new_tab{
	position: absolute;
	left:140px;
	bottom:2px;
}

span.new_more{
	float:right;
}

div.new_book_house dt ,
div.new_book_house dd{
	float: left;
	margin-bottom:5px;
}

div.new_book_house dt{
	width:90px;
	height:120px;
	text-align:center;
}

div.new_book_house dd>span{
	display: block;
}


/* End */


/* "point_box" 重点关注Box Begin: */

.point_book dd ,
.point_book dt {
	float:left;
	width:125px;
}

.point_book dd {
	margin-left:-125px;
	margin-top:104px;
	padding-left:6px;
	width:125px;
}

.point_book dt{
	margin-top:5px;
}

.point_book a{
	display:block;
	height:3em;
}

.point_book span{
	display: block;
}

/* End */



/* "express" 书讯快递 999 */

.exp_title {
	height:25px;
	line-height:30px;
	padding-left: 10px;
	vertical-align:text-bottom;
	background-color: #fff0d9;
}

.express li{
	border-bottom:dashed 1px #999;
	margin-left:14px;
	line-height: 28px;
	height: 25px;
}

.express>img {
	margin-left:10px;
	margin-top:10px;
}

/* End */


/* "sell_well"    sell_tab,sell_eight      */

.well_top {
	background-color: #518700;
	font-size:14px;
	color:white;
	height:25px;
	line-height: 28px;;
	padding-left:8px;
}

.sell_tab {
	background-color: #f2f3df;
	margin:3px 3px 0px 3px;
	padding-left:30px;
	height: 18px;
}

.sell_tab li {
	float:left;
	width:35px;
	height:18px;
	text-align:center;
	background-image:url("../images/dd_seven_bg1.jpg");
	background-repeat: no-repeat;
}

.sell_eight {
	background-color: #f2f3df;
	border:1px solid #bdc1c4;
	margin:0px 3px;
}


#sell_top_1 ,
#sell_top_2 ,
#sell_top_3 
{
	position: relative;
	height:80px;
	width:100%;
}

.sell_top_text {
	position: absolute;
	width:138px;
	top: 0px;
	right: 0px;
}

.sell_top_text a,
.sell_top_text span {
	display: block;
}

.top_img {
	margin-bottom:30px;
}

/* End */

.footer_top {
	color: #9b2b0f;
	margin: 0px auto;
}


